<div class="bg-gray-100 dark:bg-gray-800 px-2 py-1 shadow-md">
  <%= simple_form_for message, 
      url: messages_path, html: {class: "flex flex-row gap-1 h-full"},
      method: :post do |f| %>
    <%= f.input :content, 
        label: false,
        wrapper_html: {
            class: "w-[95%]"
        },
        input_html: { 
          class: "w-full h-full px-4 py-2 text-gray-900 dark:text-gray-200 bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-offset-2 focus:ring-offset-gray-100 dark:focus:ring-offset-gray-800", 
          placeholder: "Type your message..." 
        } %>
    <%= f.input :user_id, 
        as: :hidden, 
        input_html: { value: current_user.id } %>
    <%= f.input :chatroom_id, 
        as: :hidden, 
        input_html: { value: chatroom.id } %>
    <%= f.submit "Send", 
        class: "px-6 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-offset-2 focus:ring-offset-gray-100 dark:bg-indigo-700 dark:hover:bg-indigo-800 dark:focus:ring-offset-gray-800" %>
  <% end %>
</div>
