<div class="bg-gray-100 dark:bg-gray-800 px-4 py-3 shadow-md rounded-lg">
  <%= simple_form_for @chatroom, 
      url: chatrooms_path, 
      html: { class: "flex flex-col gap-3" }, 
      method: :post do |f| %>
      
     <div class="flex flex-col gap-4">
        <%= f.input :group_photo, 
            as: :file, 
            label: false, 
            input_html: { 
              class: "hidden", 
              id: "group_photo_input", 
              accept: "image/*", 
              onchange: "previewGroupPhoto(event)" 
            } %>
            <div id="photo_preview_container" 
                class="w-full h-40 flex items-center justify-center border-2 border-dashed border-gray-300 dark:border-gray-600 rounded-md cursor-pointer"
                onclick="triggerFileInput()">
              <img id="photo_preview" class="max-h-full max-w-full object-cover rounded-md hidden" alt="Selected Group Photo">
              <p id="no_photo_text" class="text-gray-500 dark:text-gray-400">No photo selected</p>
            </div>
      </div>
    <%= f.input :name, 
        label: false, 
        wrapper_html: { class: "w-full" }, 
        input_html: { 
          class: "w-full px-4 py-2 text-gray-900 dark:text-gray-200 bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-offset-2 focus:ring-offset-gray-100 dark:focus:ring-offset-gray-800", 
          placeholder: "Chatroom Name" 
        } %>
      
    <%= f.input :is_group, 
        as: :hidden, 
        input_html: { value: true } %>
    <%= f.submit "Create", 
        class: "px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:ring-offset-2 focus:ring-offset-gray-100 dark:bg-indigo-700 dark:hover:bg-indigo-800 dark:focus:ring-offset-gray-800" %>
  <% end %>
</div>

<script>
  function triggerFileInput() {
    document.getElementById('group_photo_input').click();
  }

  function previewGroupPhoto(event) {
    const file = event.target.files[0];
    const preview = document.getElementById('photo_preview');
    const noPhotoText = document.getElementById('no_photo_text');
    
    if (file) {
      const reader = new FileReader();
      
      reader.onload = function(e) {
        preview.src = e.target.result;
        preview.classList.remove('hidden');
        noPhotoText.classList.add('hidden');
      };
      
      reader.readAsDataURL(file);
    } else {
      preview.src = '';
      preview.classList.add('hidden');
      noPhotoText.classList.remove('hidden');
    }
  }
</script>
