<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Chat App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <% if current_user %>
      <style>
        <%= ".message-#{current_user.id} p" %> {
        display: flex !important;
          background-color: green !important;
          color: white !important;
        }
        <%= ".message-#{current_user.id}" %> {
        display: flex !important;
          justify-self: flex-end !important;
          flex-direction: row-reverse !important;
          width: 100%;
        }
        ::-webkit-scrollbar {
        width: 3px;
        }
        ::-webkit-scrollbar-track {
        background: transparent;
        }
        ::-webkit-scrollbar-thumb {
        background: #000;
        }
        @media (prefers-color-scheme: dark) {
          ::-webkit-scrollbar-thumb {
          background: #888;
          }
        }
      </style>
    <% end %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"/>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-gray-200">
    <% if current_user %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= yield %>
  </body>
</html>
